.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}

.child{
  width: 100%;
  max-width: 400px;
}

.form-title{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;

}

.login-form{
  display: flex;
  flex-direction: column;
}

.mat-form-field{
  width: 100%;
}

button{
  width: 100%;
  background:#003973;

}

.mat-raised-button{
  background:#003973;
}
@media (max-width: 768px){
  .parent{
    padding: 0 10px;
  }

  .child{
    max-width: 100%;
  }
}

.text-danger {
  margin-top: -10px; /* Adjust this value as needed */
}

.col-4 {
  Text-align: center;
}

.btn-block {
  Text-align: center;
}

.login-box .card,
.register-box .card {
  width: 400px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  padding: 20px; /* Adjust padding as needed */
   /* Adjust font size as needed */
}
