

h2.m-0 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  height: 20px;
}

.empl{
  position: relative;
  bottom: 25px;
}

.btn-warning {
  background-color:#007bff;
  border-color: #007bff;
  color: white;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
  background-color:#0069d9;
  border-color: #0062cc;
  color: white;
}




