.sidebar {
  float: left;
  /* Make the sidebar float to the left */
  width: 200px;
  /* Set the sidebar's width */
}

/* Target the table element */
.content-header {
  margin-left: 292px;
  /* Adjust the margin to position behind the sidebar */
  /* Other table styling can be added here */
}

.content {
  margin-left: 300px;
}

.row {
  width: 2000px;
  height: 50px;
}

h2.m-0 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  height: 20px;
}

.card-footer {
  background-color: transparent;
  height: 70px;
}

label {
  height: 35px;
  font-size: 16px;
}

nav.main-header.navbar-expand.navbar-white.navbar-light {
  margin-right: 50px;
}