<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2 class="m-0 text-dark">Tickets</h2>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h2>List of Tickets</h2>
            <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Ticket</a>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="tl">Ticket Name</th>
                  <th class="">Existing Ticket</th>
                  <th class="">Project Duration</th>
                  <th class="">Date</th>
                  <th class="">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="#" class="btn btn-sm btn-info">Edit</a>
                    <a href="javascript:;" class="btn btn-sm btn-danger alert-delete">Delete</a>
                    <form id="" method="POST">
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div><!-- /.content -->