<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2 class="m-0 text-dark">Employees</h2><br>
        <div class="content">

          <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-primary card-outline">
                  <div class="card-body">
                    <h2>Edit Employee</h2><br>

                    <form [formGroup]="validateFrom">
                      <div class="card-body">

                        <div class="form-group">
                          <label class="tk" for="email">Email :</label>
                          <input formControlName="email" type="email" id="email" placeholder="Enter Email"
                            class="form-control">
                            <span *ngIf="validateFrom.get('email').invalid && validateFrom.get('email').touched" class="text-danger">
                              <span *ngIf="validateFrom.get('email').hasError('required')" class="text-danger">This input is required! </span>
                              <span *ngIf="validateFrom.get('email').hasError('email')" class="text-danger">Please enter a valid email address.</span>
                          </span><br>


                          <div class="form-group">
                            <label class="tk" for="password">Password :</label>
                            <input formControlName="password" type="password" id="password" placeholder="Enter Password"
                              class="form-control">
                          </div>

                          <div class="form-group">
                            <label class="tk" for="checkPassword">Confirm Password :</label>
                            <input formControlName="checkPassword" type="password" id="checkPassword"
                              placeholder="Confirm Password" class="form-control">

                          </div>

                        </div>
                        <div class="form-group">
                          <label for="name">Full Name :</label>
                          <input formControlName="name" type="text" class="form-control" id="name"
                            placeholder="Enter Employee's name">
                            <span *ngIf="validateFrom.get('name').invalid && validateFrom.get('name').touched"
                            class="text-danger">This input is required!</span>
                        </div>

                        <div class="form-group">
                          <label class="tk" for="gender">Gender :</label>
                          <select formControlName="gender" id="gender" class="form-control">
                            <option *ngFor="let gender of GENDER" [value]="gender">{{ gender }}</option>
                          </select>
                          <span *ngIf="validateFrom.get('gender').invalid && validateFrom.get('gender').touched"
                            class="text-danger">This input is required!</span>
                        </div>

                        <div class="form-group">
                          <label class="tp" for="dateOfBirth">Date Of Birth :</label>
                          <input formControlName="dob" type="date" id="dateofBirth" class="form-control">
                          <span *ngIf="validateFrom.get('dob').invalid && validateFrom.get('dob').touched"
                            class="text-danger">This input is required!</span>
                        </div>

                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary" [disabled]="validateFrom.invalid" (click)="updateEmployee()">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
