body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;

}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card-footer {
  background-color: transparent;
}


.content {
  margin-left: 300px;
}

.row {
  width: 2000px;
}

h2.m-0 {
  font-size: 40px;
  text-align: center;
}

.t {
  padding-top: 40px;
}

.tk {
  padding-top: 40px;
}

.tp {
  padding-top: 40px;
}
