<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2 class="m-0 text-dark">Vacation Requests</h2><br>
      </div><!-- /.content -->
    </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h2>List of Vacation Requests</h2><br>
            <a routerLink="/employee/vacation"  class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Vacation Request</a><br><br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="tl">Type </th>
                  <th class="tl">Start Date </th>
                  <th class="tl">End Date </th>
                  <th class="tl">Status </th>
                  <th class="">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vacation of slicedData; let i = index">
                  <td>{{ pageEvent.pageIndex * pageEvent.pageSize + i + 1 }}</td>
                  <td>{{ vacation.type }}</td>
                  <td>{{ vacation.sd | date: 'd/MMM/y | H:mm' :'UTC' }}</td>
                  <td>{{ vacation.ed | date: 'd/MMM/y | H:mm' :'UTC' }}</td>
                  <td><strong [ngStyle]="{'color': vacation.vacationStatus === 'Approved' ? '#5fbd00' : vacation.vacationStatus === 'Disapproved' ? '#f8007c' : '#F4C430'}"> {{ vacation.vacationStatus}} </strong> </td>
                  <td>
                    <a *ngIf="vacation.vacationStatus === 'Pending'" style='margin-right:16px' class="btn btn-sm btn-info" ><i class="fas fa-pencil-alt" [routerLink]="['/employee/vacation', vacation.id]"></i>Edit</a>
                    <a *ngIf="vacation.vacationStatus === 'Pending'" style='margin-right:16px' class="btn btn-sm btn-danger alert-delete" (click)="deleteVacation(vacation.id)" ><i class="fas fa-trash"></i>Delete</a>
                  </td>

                </tr>
              </tbody>
            </table>
          </div><!-- /.card-body -->

          <mat-paginator [length]="vacations.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="onPaginateChange($event)"></mat-paginator>


        </div><!-- /.card -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->




