<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2 class="m-0 text-dark">Vacations </h2>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-primary card-outline">
          <div class="card-body">

            <h2>Edit Vacation</h2><br>

            <!-- form start -->
            <form role="form" action="#" method="POST">


              <label for="nom">Vacation Type :</label>
              <select id="projet-selection" class="form-control" id="nom" name="name">
                <option>Select Vacation Type</option>
                <option value="projet-a">Sick Leave</option>
                <option value="projet-b">Work from home</option>
                <option value="projet-c">Maternity</option>
                <option value="projet-c">Wedding</option>
                <option value="projet-c">Child's birth</option>
              </select>


              <label class="tp" for="duree-projet">Start Date :</label>
              <input type="date" id="duree-projet" name="duree-projet" class="form-control" required>

              <label class="tp" for="duree-projet">End Date :</label>
              <input type="date" id="duree-projet" name="duree-projet" class="form-control" required><br>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary"> Submit </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>