<app-control-sidebar></app-control-sidebar>
<app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<app-main-footer></app-main-footer>
<h1>Kanban Board</h1>

<div class="kanban-board">
  <div class="kanban-column">
    <div class="card card-primary card-outline"></div>
    <div class="card-body"></div>
    <h2>To Do</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="kanban-column">
    <div class="card card-primary card-outline"></div>
    <div class="card-body"></div>
    <h2>Doing</h2>

    <ul>
      <li></li>
    </ul>
  </div>
  <div class="kanban-column">
    <div class="card card-primary card-outline"></div>
    <div class="card-body"></div>
    <h2>Done</h2>
    <ul>
    </ul>
  </div>
</div>