<h2 class="m-0 text-dark">Employees</h2><br>
<div class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-primary card-outline">
          <div class="card-body">

            <h2>Create Employee</h2><br>

            <!-- form start -->
            <form role="form" action="#" method="POST">

              <div class="card-body">
                <div class="form-group">
                  <label for="nom">Employee's Name :</label><br>
                  <input type="text" class="form-control" id="nom" placeholder="Enter Employee's name" name="name">
                  <span class="text-danger"></span>
                </div>

                <div class="form-group">
                  <label class="tk" for="duree-projet">Password :</label>
                  <input type="number" id="duree-projet" name="duree-projet" placeholder="Enter Password"
                    class="form-control" required>
                </div>



                <div class="form-group">
                  <label class="tk" for="duree-projet">Email :</label>
                  <input type="number" id="duree-projet" name="duree-projet" placeholder="Enter Email"
                    class="form-control" required>
                </div>

                <div class="form-group">
                  <label class="tk" for="duree-projet">Gender :</label>
                  <input type="number" id="duree-projet" name="duree-projet" placeholder="Enter Gender"
                    class="form-control" required>
                </div>


                <label class="tp" for="duree-projet">Birth day :</label>
                <input type="date" id="duree-projet" name="duree-projet" class="form-control" required><br>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"> Submit </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>