<mat-spinner *ngIf="isSpinning" [diameter]="70" class="spinner"></mat-spinner>
<div *ngIf="!isSpinning">
<div id="calendar-container">
  <div id="cal-buttons" _ngcontent-kea-c45="">

    <div id="cal-date-nav-buttons" class="navigation">
      <div style='margin-left:1115px'>

        <button style="position: relative;
        top: 15px;" id="month" class="btn btn-primary" >Generate report </button>

      </div>

      <div>

        <div class="empl">
        <button  type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" >
          Employee's Name
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let employee of listOfEmployees" [value]="employee.id" (click)="getEmployeeData(employee.id)" >{{ employee.name }}</li>
        </ul>
      </div>

    <div class="top">
      <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view"
        class="btn btn-primary" style='margin-right:1px'>Previous</button>
      <button id="today" mwlCalendarToday [(viewDate)]="viewDate" class="btn btn-primary" style='margin-right:1px'>Today</button>
      <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view" class="btn btn-primary" style='margin-right:1px'>Next</button>
    </div>

    </div>

    </div>
    <div id="cal-date-field" class="calendar" >{{ viewDate | calendarDate:(view + 'ViewTitle') : 'en'}}</div>

    <div id="cal-view-nav-buttons" class="mmm">

      <button id="week" (click)="setView(CalendarView.Week)" class="btn btn-primary" style='margin-right:1px'>Week</button>
      <button id="day" (click)="setView(CalendarView.Day)" class="btn btn-primary" style='margin-right:1px'>Day</button>
    </div>

  </div>

  <span [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"></mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"></mwl-calendar-day-view>
  </span>
</div>
</div>

