.calendar {
  position: relative;
  bottom: 50px;
  text-align: center;
  font-size: 45px;
}

.mmm {
  margin-left: 1133px;
  position: relative;
  bottom: 10px;
}

.navigation {
  position: relative;
  top: 57px;

}

.btn-warning {
  background-color:#b2c826;
  border-color: #b2c826;
  color: white;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
  background-color:#9fb322;
  border-color: #9fb322;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #b2c826;
  border-color: #b2c826;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color:#9fb322;
  border-color: #9fb322;
  color: white;
}


.empl{
  position: relative;
  bottom: 25px;
}
.top{
  position: relative;
  bottom: 10px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed */
}
