.mat-toolbar.mat-primary {
  background:#9fb322;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #9fb322;
  color: #fff;
}

